<style>
    .novo-evento .conteudo {
        padding: 1em;
    }
    .novo-evento .botoes {
        margin-top: 1.5em;
        text-align: right;
    }
    .novo-evento .data-hora {
        float: left;
        width: 23%;
        margin-right: 2%;
    }
    .novo-evento .site {
        float: left;
        width: 50%;
    }
    .novo-evento .nome-email {
        float: left;
        width: 49%;
    }
    .novo-evento .nome-email:first-child {
        margin-right: 2%;
    }
    .novo-evento strong {
        font-weight: bold;
    }
    .novo-evento p {
        height: 50px;
    }
    .novo-evento .blue {
        color: #4285f4;
    }
</style>
<div class="novo-evento">
    <paper-toolbar>
        <paper-icon-button icon="close" ng-click="clickClose()"></paper-icon-button>
        <div class="title">Cadastrar novo evento</div>
    </paper-toolbar>
    <div class="conteudo">
        <p>O evento <strong>{{!evento.nome?'qualquer':evento.nome}}</strong> acontecerá em <strong>{{!evento.local?'algum lugar':evento.local}}</strong>, dia <strong>{{!evento.data?'desses aí':evento.data}}</strong> às <strong>{{!evento.hora?'tantas horas':evento.hora}}</strong>. Para mais informações, acesse <strong>{{!evento.site?'o site deles':evento.site}}</strong></p>
        <paper-input label="Nome do evento" ng-model="evento.nome"></paper-input>
        <paper-input label="Local do evento" ng-model="evento.local"></paper-input>
        <paper-input label="Breve descrição" ng-model="evento.descricao"></paper-input>
        <div class="clearfix">
            <paper-input label="Data do evento" ng-model="evento.quando" class="data-hora" wgbn-data></paper-input>
            <paper-input label="Hora do evento" ng-model="evento.hora" class="data-hora" wgbn-hora></paper-input>
            <paper-input label="Site do evento" ng-model="evento.site" class="site"></paper-input>
        </div>
        <div class="clearfix">
            <paper-input label="Seu nome" ng-model="evento.autor" class="nome-email"></paper-input>
            <paper-input label="Seu e-mail" ng-model="evento.email" class="nome-email"></paper-input>
        </div>
        <div class="botoes">
            <paper-button class="blue" ng-click="clickClose()">Cancelar</paper-button>
            <paper-button class="blue" ng-click="clickEnviar()">Criar evento</paper-button>
        </div>
    </div>
</div>