<style>
    .semanas {
        border: 1px solid #ccc;
    }
    .semanas .semana {
        border-bottom: 1px solid #ccc;
    }
    .semanas .semana:last-child {
        border-bottom: 0;
    }
    .semanas .semana .dia {
        float: left;
        width: 14%;
        border-right: 1px solid #ccc;
        min-height: 50px;
        padding: 1%;
    }
    .semanas .semana .dia:last-child {
        border-right: 0;;
    }
</style>
<div class="semanas">
    <div class="semana clearfix" ng-repeat="semana in mes">
        <div class="dia" ng-repeat="dia in semana">
            {{dia.dayOfMonth}}
        </div>
    </div>
</div>