<style>
    .wgbn-evento {
        float: left;
        width: 23%;
        margin: 0 2% 2% 0;
        border: 1px solid rgba(204, 204, 204, 0.48);
        cursor: pointer;
    }
    .wgbn-evento .titulo {
        background-color: #3F51B5;
        padding: 1em .5em;
        color: #fff;
    }
    .wgbn-evento .quando, .wgbn-evento .local, .wgbn-evento .descr {
        background-color: #9FA8DA;
        padding: .7em .5em;
        display: block;
    }
    .wgbn-evento .local {
        background-color: #C5CAE9;
    }
    .wgbn-evento .descr {
        background-color: #E8EAF6;
    }
</style>
<paper-material elevation="1" class="wgbn-evento" ng-click="clickEvento()">
    <h4 class="titulo">{{evtCtrl.evento.nome}}</h4>
    <span class="quando">
        {{evtCtrl.evento.quando}} às {{evtCtrl.evento.hora}}
    </span>
    <span class="local">{{evtCtrl.evento.local}}</span>
    <p class="descr">{{evtCtrl.evento.descricao}}</p>
</paper-material>