<style>
    .wgbn-evento {
        /*width: 100%;*/
        max-width: 250px;
        margin: 1em .4em;
        -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.4);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.4);
        -webkit-transition: -webkit-box-shadow .5s;
        transition: box-shadow .5s;
    }
    .wgbn-evento:hover {
        -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,.6);
        box-shadow: 0 1px 10px 0 rgba(0,0,0,.6);
    }
    .wgbn-evento .img-rounded {
        width: 100%;
    }
    .wgbn-evento .titulo {
        color: #37BC9B;
    }
    .wgbn-evento .label-info {
        margin: 0 .2em;
        text-transform: uppercase;
        font-size: .8em;
        font-weight: normal;
    }
    .wgbn-evento hr {
        margin: .3em 0;
    }
    .wgbn-evento .destaque {
        color: #37BC9B;
    }
    @media (min-width: 500px) {
        /*.wgbn-evento {
            float: left;
            width: 48%;
            max-width: 280px;
            margin: 0 2% 2% 0;
        }*/
    }
</style>

<div class="thumbnail wgbn-evento">
    <img class="img-rounded" src="{{evento.banner}}" ng-show="evento.banner">
    <div class="caption text-center">
        <h3 class="titulo">{{evento.name}}</h3>
        <p>{{evento.description}}</p>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><span class="label label-info">início</span></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><span class="label label-info">término</span></div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 valor">{{evento.event_start}}</div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 valor">{{evento.event_end}}</div>
            </div>
        </div>
        <hr ng-show="evento.cfp_start && evento.cfp_end">
        <p ng-show="evento.cfp_start && evento.cfp_end">
            <span class="label label-info">Call for papers</span><br>
            de <span class="destaque">{{evento.cfp_start}}</span> até <span class="destaque">{{evento.cfp_end}}</span>
        </p>
        <hr>
        <p>
            <span class="label label-info">Local do evento</span><br>
            {{evento.location.name}}
        </p>
        <hr ng-show="evento.website || evento.twitter">
        <p ng-show="evento.website || evento.twitter">
            <a class="btn btn-warning" role="button" ng-click="clickSite()" ng-show="evento.website">Site do evento</a>
            &nbsp;
            <a class="btn btn-primary" role="button" ng-click="clickTwitter()" ng-show="evento.twitter">twitter</a>
        </p>
    </div>
</div>