body {
    background-color: #eaeaea;
}
.clearfix {
    overflow: auto;
    zoom: 1;
}
.colorful {
    background: #4285f4;
    color: #fff;
}
.branco {
    background-color: #fff;
    color: #4285f4;
}
.toolbar-tools.paper-toolbar > .title {
    margin-left: 0;
}
.area {
    padding: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
    padding-bottom: .4em;
}
.agenda {
    box-sizing: border-box;
    margin: .5em 1em;
}
.barra-navega {
    border-radius: 0;
}